@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--Lightgray);
}
:root {
    --White: hsl(0, 0%, 100%);
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%) ;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.cards-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.main-container {
    width: 320px;
    height: 500px;
    border-radius: 16px;
    margin: 60px  auto;
    padding: 16px;
    background-color: var(--White);
}
.main-container:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px;
    transition: 300ms;
    margin-top: 50px;
}

.card-img {
    background-image: url(./images/image-qr-code.png);
    background-size: cover;
    width: 100%;
    height: 288px;
    border-radius: 16px;
    margin-bottom: 20px;

}
.card-text h1 {
    color: var(--Darkblue);
    font-size: 20px ;
    text-align: center;
    margin: 0 15px;
    margin-bottom: 10px;
    
}

.card-text p {
    font-size: 15px;
    color: var(--Grayishblue);
    text-align: center;
    margin: 0 15px;

}

